{
    "presets": [
        [
            "next/babel", 
            {
                "debug": true,
                "useBuiltIns": "usage",
                "corejs": "3.22"
            }
        ]
    ],
    "plugins": []
}